@import "../theme.scss";

.about{
    position: relative;
    min-height: 28rem;
    padding-top: 2rem;
    .col-lg-6{
        position: relative;
    }
    h1{
        color: $green-l-lemon;
    }
    h2{
        color: $green-l-lemon;
    }
    p{
        font-size: 16pt;
        line-height: 1.5em;
    }
    article{
        padding-top: 2.5rem;
    }
}

.about-img{
    position: absolute;
    width: 28vw;
    height: 338px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}
.about-image-1{
    top: 100px;
    left: 0px;
}
.about-image-2{
    top: 50px;
}

@media (min-width: 1000px){
  .about-img-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

@media (max-width: 999px){
    .about{
        padding-top: 0px;
        article{
            padding-top: 0px;
            margin-bottom: 20px;
        }
    }
    .about-img{
        position: relative;
        width: 100vw;
        height: 100px;
        margin-bottom: 1rem;
    }
    .about-image-1{
        top: 0px;
    }
    .about-image-2{
        top: 0px;
        left: 0px;
    }
}