@import "../theme.scss";

.slider{
    background-color: $green-l-lemon;
    min-height: 20rem;
    color: #FFFFFF;
    padding: 1rem 0px;
    h1{
        color: $yellow-l-lemon;
    }
    p{
        margin-bottom: 1rem;
    }
    .col-lg-6{
        position: relative;
    }
    .col-md-12{
        position: relative;
    }
    img{
        border-radius: 16px;
        width: 22rem;
        height: 23rem;
        object-fit: cover;
        position: absolute;
        right: 0px;
        top: 1rem;
    }
}

@media (max-width: 999px){
    .slider{
        img{
            position: relative;
            width: 200px;
            height: 170px;
        }
        p{
            padding: 0px 10px;
        }
        h1{
            padding: 0px 10px;
        }
        h2{
            padding: 0px 10px;
        }
    }
}