@import "../theme.scss";

.testimonials{
    background-color: $green-l-lemon;
    padding: 2rem 0px;
    h2{
        text-align: center;
        color: #FFF;
        margin-bottom: 1rem;
    }
    svg{
        color: $yellow-l-lemon;
    }
    .testimonials-content-text{
        p{
            font-size: 0.8rem;
            line-height: 1rem;
        }
    }
    .testimonials-content__author__name{
        h3{
            font-size: 1rem;
            line-height: 1rem;
            color: $green-l-lemon;
            font-family: 'Markazi Text', sans-serif;
        }
        p{
            font-size: 1rem;
            line-height: 1rem;
            color: $green-l-lemon;
            font-family: 'Markazi Text', sans-serif;
        }
    }
    .testimonials-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
        background-color: #FFFFFF;
        border-radius: 12px;
        padding: 1rem;
    }
    .testimonials-content-author{
        display: flex;
        align-items: center;
        img{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin-right: 1rem;
            padding-top: 10px;
        }
    }
}