$green-l-lemon: #495E57;
$yellow-l-lemon: #F4CE14;
$gray-l-lemon: #EDEFEE;
$dark-gray-l-lemon: #333333;
$orange-l-lemon: #ee9972;
$peach-l-lemon: #FBDABB;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');
